* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-weight: 500;
    font-family: Raleway;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10vh;
}

section {
    display: grid;
    grid-template-columns: 3fr 4fr;
    justify-items: right;
}

section:first-of-type {
    margin-bottom: 100px;
}

section div {
    margin-right: 10vw;
}

p {
    font-size: 14px;
}

p:nth-of-type(2) {
    font-weight: 700;
}

button {
    background-color: seagreen;
    padding: 10px 20px;
    border: none;
    color: white;
    font-family: Raleway;
    font-weight: 700;
    cursor: pointer;
}

.grid {
    display: grid;
    margin: auto 5vw auto auto;
    grid-template-columns: repeat(3, 100px);
    gap: 3px;
    background-color: #555;
    min-height: 100px;
}

.bigSquare {
    /* background-color: tomato; */
    height: 100px;
    width: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    /* padding: 1px; */

    /* border: 2px solid #999; */


}

.smallSquare {
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    padding-top: 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    outline: none;
    border: none;
}

.smallSquare:hover {
    background-color: #eee;
}

.blocked {
    background-color: #f8f8f8;
}

.explanation {
    padding: 20px;
}

@media (max-width: 800px) {
    .explanation {
        /* display: none; */
        text-align: center;

    }

    .grid {
        margin: auto;
    }

    section {
        /* display: flex; */
        grid-template-columns: 1fr;

        justify-items: center;
    }

    section div {
        margin-right: 0;
    }

    .forScreens {
        display: none;
    }

    .forPhones {
        display: block;
    }
}