* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-weight: 500;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 3px;
    background-color: #555;
}

.bigSquare {
    /* background-color: tomato; */
    height: 100px;
    width: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    /* padding: 1px; */

    /* border: 2px solid #999; */


}

.smallSquare {
    font-family: poppins;
    background-color: white;
    cursor: pointer;
    padding-top: 3px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    outline: none;
    border: none;
}

.smallSquare:hover {
    background-color: #eee;
}

.blocked {
    background-color: #f8f8f8;
}
