* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-weight: 500;
    font-family: Raleway;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5vh;
}

.sudoku {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-items: left;
    margin-bottom: 100px;
}

.sudoku div:nth-of-type(2) p {
    margin-right: 10vw;
}

p {
    font-size: 14px;
}

p:nth-of-type(2) {
    font-weight: 700;
}

.sudokuButton {
    background-color: seagreen;
    padding: 10px 20px;
    margin-bottom: 5px;
    border: none;
    color: white;
    font-family: Raleway;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

.sudokuButton:hover {
    background-color: rgb(35, 112, 68);
}

.inputOpened {
    padding: 10px 20px;
    /* border: none; */
    outline: none;
}

.bold {
    font-weight: 700;
}

.countInfo span{
    font-size: 12px;
    margin-left: 10px;
}

.grid {
    display: grid;
    margin: auto 2vw auto auto;
    grid-template-columns: repeat(3, 100px);
    gap: 3px;
    background-color: #555;
    min-height: 100px;
}

.bigSquare {
    /* background-color: tomato; */
    height: 100px;
    width: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    /* padding: 1px; */

    /* border: 2px solid #999; */


}

.smallSquare {
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    padding-top: 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    outline: none;
    border: none;
}

.smallSquare:hover {
    background-color: #eee;
}

.blocked {
    background-color: #f2f2f2;
    font-weight: 700;
}

.tempBG {
    background-color: #666;
}

.explanation {
    padding: 20px;
}

.digitsCount {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.digitWrapper {
    font-family: sans-serif;
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 20px;
    width: 40px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.digitWrapper span {
    font-weight: 700;
    /* padding-bottom: 2px; */
    text-align: center;
    padding-top: 2px;
    padding-left: 4px;
}

.digit {
    font-weight: 700;
    text-align: center;
    padding-right: 1px;
    padding-top: 2px;
    height: 20px;
    width: 20px;
    background-color: #666;
    color: white;
    border-radius: 50%;
}

.levelOuter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 20px;
}

.levelWrapper {

    /* position: fixed;
    bottom: 2vh;
    left: 50%; */
    /* transform: translateX(-50%); */
    z-index: 2;
    /* margin: 0 auto; */
    background-color: #fff;
    color: black;
    font-weight: 700;
    max-width: 500px;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.title {
    /* margin-right: 40px; */
    font-size: 2em;
}

.level {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-top: 5px;

}

.level div {
    background-color: #ccc;
    font-size: 14px;
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
    transition: all;
}

.active {
    background-color: orangered;
    color: white;
}

/* САПЁР */

.minesweeper {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
    /* width: 1200px; */
    margin: 0 auto;
    min-height: 200px;
    margin-bottom: 100px;
}

.minesweeper span {
    font-weight: 700;
}

.smallScreen {
    display: none;
    padding: 0 30px;
}

.navigation {
    height: 50px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

}

.navigationLeft {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.navigationRight {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigationRight span {
    margin-right: 20px;
}

.navigation img {
    margin: 0 10px;
}

.restart {
    transition: all 0.3s;
}

.navigationLeft .animation {
    transform: translateX(100px);
}

.mineButton {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    background-color: chartreuse;
    cursor: pointer;
}

.field {
    height: 450px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 1px;
    margin: 0 auto;
    border: 2px solid #222;
    border-top: none;
    background-color: #888;
    font-weight: 700;
    position: relative;

}

.gameover {
    position: absolute;
    top: 10%;
    left: 50%;
    padding: 20px 40px;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);

}

.disabled {
    display: none;
}

.square {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}


.squareDefault {
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s;
    
}

/* .squareDefault:hover {
    background-color: #aaa;
} */

.squareOpened {
    background-color: #ccc;
    color: white;
}

.blue {
    /* background-color: cornflowerblue; */
    color: cornflowerblue;
}

.green {
    /* background-color: seagreen; */
    color: seagreen;
}

.red {
    /* background-color: tomato; */
    color: tomato;
}

.darkBlue {
    /* background-color: plum; */
    color: darkblue;
}

.purple {
    /* background-color: #ffff77; */
    color: purple;
}

.cyan {
    color: #2299ff;
}

.darkRed {
    color: darkred;
}

.black {
    color: #222;
}

.bomb {
    background-color: #222288;
}

.flagged {
    background-color: #228888;
}

@media (max-width: 940px) {
    /* .smallScreen {
        display: block;
    } */

    .minesweeper {
        display: none;
    }
}

@media (max-width: 800px) {
    .sudoku div:nth-of-type(2) p {
        margin-right: 0;
    }

    .explanation {
        /* display: none; */
        text-align: center;

    }

    .grid {
        margin: auto;
    }

    .sudoku {
        /* display: flex; */
        grid-template-columns: 1fr;

        justify-items: center;
    }

    /* .sudoku div {
         margin-right: 0;
    }  */

    .forScreens {
        display: none;
    }

    .forPhones {
        display: block;
    }

    .levelWrapper {
        justify-content: center;
    }

    .levelWrapper {
        max-width: 400px;
        padding: 20px;
        
    }

    .level {
        margin-left: 0;
    }

    .digitsCount {
        justify-content: center;
    }
}